*, *::before, *::after {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a, button {
  font-family: 'Poppins', sans-serif;
  color: white
}
html {
    height: 100vh;
}
body {
  background: rgb(7, 7, 7);
  position: relative;
  z-index: -1;
}

body > svg{
  width: 100vw;
  position: fixed;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, 0);
  z-index: -1;
  filter: blur(84px);
}

header {
    height: 100vh;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
}
header nav {
  width: 90vw;
  position: absolute;
  top: 5vh;
  margin: 0vh 5vw;
  z-index: 2;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav li:first-of-type svg{
  height: 8vh;
  max-height: 2em;
}
header nav li:last-of-type svg {
  height: 5vh;
  max-height: 1em;
}
header ul.headingpoints {
  position: absolute;
  top: 35%;
  left: 0vw;
  display: flex;
}
header ul.headingpoints li {
  width: 100vw;
  list-style-type: none;
  min-height: 2em;
}
h1 {
  color: white;
  text-align: center;
  font-size: 10vw;
}
.secondheadertext {
  color: white;
  font-size: 8vw;
  text-align: center;
  margin-top: 2vh;
}
.thirdheadertext {
  color: white;
  font-size: 6vw;
  text-align: center;
  margin-top: 4vh;
}
canvas {
    position: fixed;
    left: 50%;
    top: 58vh;
    transform: translate(-50%, -50%);
    max-width: 95vw;
    max-height: 100vh;
    z-index: 1;
    overflow: hidden;
}
p.scroll {
  position: absolute;
  bottom: 11em;
  color: white;
  text-transform: uppercase;
  transform: rotate(270deg);
  transform-origin: center;
  margin-left: 4vw;
  letter-spacing: 5px;
  font-size: .5em;
  box-sizing: border-box;
}
span.scrollicon {
  position: absolute;
  bottom: 3.75em;
  margin-left: 5vw;
  width: 1px;
  height: 4em;
  background-color: white;
}
main {
  height: 300vh;
}
main article:first-of-type {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}

main article:first-of-type ul {
  display: flex;
  align-items: center;
}

main article:first-of-type ul li{
  width: 20em;
  height: 24em;
  list-style-type: none; 
  border: solid 1px transparent;
  border-radius: 32px;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(255, 255, 255, 0)), radial-gradient(circle at top , rgb(255, 255, 255),#ffffff00);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

main article:first-of-type ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main article:first-of-type ul li svg {
  margin: 5em 0 2em 0;
  height: 4em;
}

main article:first-of-type ul li p {
  text-align: center;
  margin: 1em 3em 4em 3em;
  font-size: .8em;
}

main article:first-of-type ul li + li {
  margin-left: 4em;
}
main article:first-of-type a {
  margin-top: 6em;
  text-decoration: none;
}
main article:first-of-type a svg {
  height: .6em
}
article.color {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 50vh
}
main article:nth-child(2) ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 5em;
  list-style-type: none;
  justify-items: center;
  align-items: center;
  margin-bottom: 30em;
  max-width: 90%;
  margin: 0 5%;
}

main article:nth-child(2) ul li {
  display: flex;
  align-items: center;
}

main article:nth-child(2) ul li img {
  width: 20em;
}

main article:nth-child(2) ul li h2 {
  font-size: 3em;
  text-align: center;
}
.textzoom {
  position: relative;
  z-index: 2;
}
article.order {
  position: relative;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  margin-top: 200vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

article.order h2 {
  color: #111111;
  font-size: 3em;
  width: 30%;
  text-align: center;
}

article.order div {
  margin-top: 3em;
}

article.order div a:first-of-type {
  color: #477A9B;
  text-decoration: none;
  font-weight: 600;
  margin-right: 2em;
}

article.order div a:last-of-type {
  color: #B0B0B0;
  text-decoration: none;
  font-weight: 600;
}
article.order div a svg {
  height: 1em;
  position: relative;
  top: 2px;
  margin-left: 4px;
}



